<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcakes</title>
</head>
<body>
    <ul id="cupcake-list">

    </ul>
    <form id="cupcake-form">
        <p>
            <label for="flavor">Flavor</label>
            <input type="text" name="flavor" id="flavor">
        </p>
        <p>
            <label for="size">Size</label>
            <input type="text" name="size" id="size">
        </p>
        <p>
            <label for="rating">Rating</label>
            <input type="number" name="rating" id="rating">
        </p>
        <p>
            <label for="image">Image</label>
            <input type="text" name="image" id="image">
        </p>
        <button id="add-cupcake-btn">Add Cupcake</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="http://localhost:5000/static/main.js"></script>
</body>
</html>