<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boggle</title>
</head>

<body>

  <table class="board">
    <tbody>
      {% for row in board %}
      <tr>
        {% for cell in row %}
        <td>
          {{ cell }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form id="add-word" method="POST">
    <input type="text" name="word" id="word" autofocus />
    <button>Check</button>
  </form>

  <p>
    score: <span id="score">0</span><br />
    timer: <span id="timer"></span>
  </p>

  <p id="msg"></p>

  <ul id="words"></ul>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>